.CardContainer{
    width: 350px;
    height: 225px;
    margin: 40px 0;
    perspective: 600px;
    padding: 10px;
}

.Card {
    position: relative;
    margin-left: 100px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

.Card:hover {
    transform: translateX(-100%) rotateY(-180deg);
}
.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    /* line-height: 360px; */
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
}
.card__face--front {
    border-radius: 15px;   
    box-shadow: 9px 5px 12px 1px rgba(0, 0, 0, 0.25);
}
.card__face--front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;  
}
.card__face--back {
    transform: rotateY(180deg);
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
}
.card__face--back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;  
}